@define-color foreground #cdd6f4;
@define-color background rgba(30, 30, 46, 0.90);


/*********** Waybar ****************/

* {
  background-color: @background;
  color: @foreground;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 12px;
  font-weight: bold;
}

#waybar {
    background-color: alpha(@background, 0.5);
    color: @foreground;
    border-radius: 0px;
    border: 0px solid alpha(@foreground, 0.8);
    border-bottom-width: 0px;
}

#workspaces button.active {
    color: #cdd6f4;
    background-color: rgba(-1,0,0,0.0);
}

#workspaces button.active label {
    color: #cdd6f4; /* More specific selector for text */
    font-weight: bold;
}

#workspaces button.urgent {
    color: #cdd6f4;
    background-color: rgba(-1,0,0,0.0);
}
